node_modules
dist
cache
*.log
yarn.lock
shigureader_local_file_info.json
shigureader_zip_file_content_info.json
unzip_cache
compress_cache
executables
file_info.json
zip_info.json
zip_info
zip_info~
.DS_Store
imageMagick_cache
image_convert_cache
thumbnails
gdata.json
temp_json_info.json