@import "vars.scss";

.aji-checkbox {
  color: $font_color_white_one;
  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;

  input {
    // height: 1.2rem;
    // width: 1.2rem;
    margin-right: 5px;
  }

  .inner {
    font-size: 10px;
  }
}