@import "vars.scss";

.one-book-nothing-available {
  color: $font_color_white_one;
  font-size: 2rem;
  @include flex_center_display;

  .alert {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.one-book-container {
  @include flex_center_display;
  flex-flow: column;
  padding-bottom: 20px;

  .only-music {
    margin-top: 20px;
    min-width: 300px;
  }

  .one-book-wrapper {
    margin-top: 5px;
    @include flex_center_display;
    flex-flow: column;

    &.two-page-mode {
      flex-flow: row;
    }

    &:not(.has-music) {
      width: 100%;
    }

    &.has-music {
      min-width: 500px;

      //https://w3bits.com/rainbow-text/
      .placeholder-for-music {
        margin-top: 50px;
        font-size: 200px;
        background-image: linear-gradient(to left, #ffff55, #abffab, #899dff);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .aji-music-player {
        max-width: 80%;
      }
    }
  }

  .fs-toggle-button {
    color: $font_color_white_one;
    background-color: transparent;
    border: 0;
    margin-left: 10px;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    font-size: 1.5rem;

    &:hover {
      @include second_hover_effect;
    }
  }

  .one-book-list {
    list-style: none;
  }

  a {
    color: $font_color_white_one !important;
  }

  .one-book-image-li {
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .one-book-image {
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    z-index: 10;
    object-fit: cover;
  }



  .mobile-one-book-container {
    width: 100%;

    .one-book-waterfall-div {
      @include flex_center_display;
      margin-bottom: 30px;
      margin-left: 5px;
      margin-right: 5px;

      .one-book-waterfall-image {
        max-width: 98%;
        object-fit: cover;
      }
    }

    .mobile-single-image-container {
      @include flex_center_display;
      margin-bottom: 30px;
      margin-left: 5px;
      margin-right: 5px;
      overflow: scroll;

      @media screen and (min-height: 600px) {
        min-height: 600px;
      }

      .mobile-single-image {
        object-fit: cover;
        //note: 100vh does not work
        max-width: 100%;
        max-height: 900px;

        @media screen and (max-height: 800px) {
          max-height: 600px;
        }

        &.has-music {
          max-height: 600px;
        }
      }
    }
  }

  .one-book-tags {
    display: flex;
    justify-content: flex-start;
  }

  .one-book-tags div {
    margin-right: 10px;
  }

  .one-book-foot-author {
    &:hover {
      a {
        @include third_hover_effect;
      }
    }
  }

  .one-book-foot-index-number {
    cursor: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: $font_color_white_one;
    font-weight: 600;
    z-index: 10;

    &.is-last {
      color: $font_dark_orange;
    }
  }

  $font_size_icon: 1.4rem;

  .one-book-file-stat {
    color: $font_color_white_one;
    display: flex;
    font-size: 14px;

    .video-num {
      color: $font_dark_orange;
      margin-left: 15px;
    }

    .mobile-page-num {
      cursor: pointer;
      margin-left: 15px;

      &:hover {
        @include third_hover_effect;
      }
    }
  }

  .one-book-second-toolbar {
    @include flex_center_display;
    div:first-child {
      margin-right: 30px;
    }

    .two-page-mode-button,
    .rotate-button {
      font-size: $font_size_icon;

      &:hover {
        @include third_hover_effect();
      }
    }
  }
}

.one-book-title {
  color: $font_color_white_one;
  flex-direction: column;
  @include flex_center_display;
  font-size: 14px;
  gap: 8px;

  .small-box {
    flex-direction: row;
    @include flex_center_display;

    .folder-link {
      margin-right: 10px;
    }
  }

  a {
    color: $font_color_white_one !important;
  }
}

.one-book-path {
  color: $font_color_white_one;
  font-weight: 400;
  margin-right: 10px;
  @include flex_center_display;
  flex-direction: column;
  display: flex;

  a {
    line-height: 1em;
    max-width: 650px;
    color: $font_color_white_one !important;
  }
}

.one-book-overview-container {
  .one-book-title {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .a-with-padding {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    .obov-link {
      display: block;
    }

    .single-img-cell {
      height: 280px;
      object-fit: scale-down;
      max-width: calc(100% - 10px);
    }

    .place-holder {
      background: white;
    }
  }
}

.ehentai-tag-row {
  display: flex;

  .ehentai-tag-link {
    margin-left: 5px;
  }
}

.one-book-img-load-spinner {
  display: none;

  &.show {
    display: flex;
    position: absolute;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    //https://stackoverflow.com/questions/1009753/pass-mouse-events-through-absolutely-positioned-element
    pointer-events: none;
  }
}

.one-book-overview-path {
  a {
    font-size: 15px;
  }

  display: flex;
  justify-content: center;
  gap: 14px;
}

.one-book-video-container {
  display: flex;
  flex-direction: column;

  .video-link {
    &:hover {
      .video-link-text {
        text-decoration: underline;
      }
    }

    .video-link-text {
      margin-left: 10px;
    }
  }
}

.one-book-toolbar {
  // 额外空间，否则点击不舒服。
  margin-top: 2px; 
  margin-bottom: 8px; 
}