@import "vars.scss";

.tag-page-loading {
  text-align: center;
  font-size: 3rem;
  position: fixed;
  left: 45%;
  top: 50%;
}

.tag-container {
  .tag-page-list-group {
    list-style: none;
  }

  .tag-page-list-item-link {
    color: $font_color_white_one;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
  }

  .tag-page-thumbnail {
    // max-width: 150px !important;
    max-width: 100%;
    max-height: 210px;
  }

  .tag-page-list-item {
    padding-bottom: 10px;

    .tag-cell {
      height: 260px;
      @include file_cell_common;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;
    }
  }

  .aji-checkbox-container{
    padding-bottom: 10px;
  }
}