@import "vars.scss";

.video-player-page {

    .video-player-container {
        @include flex_center_display;
        padding-top: 10px;


        //horizontal
        .horizontal-video {
            // max-width: 1000px;
            // .dplayer{
            //     @media screen and (max-width: 1000px) {
            //         width: calc(100% - 50px);
            //     }
    
            //     @media screen and (min-width: 1000px) {
            //         width: 1000px;
            //     }
            // }
        }

        //else vetical
        .vertical-video {
            // max-height: 800px;
            // .dplayer{
            //     @media screen and (max-height: 800px) {
            //         height: calc(100% - 50px);
            //     }

            //     @media screen and (min-height: 800px) {
            //         height: 800px;
            //     }
            // }
        }
    }

    .video-title {
        @include flex_center_display;
        flex-direction: column;

        margin-top: 10px;
        font-size: 14px;
        color: $font_color_white_one;
        gap: 8px;

        .inline-display {
            display: inline;
        }
    }

    .video-tag-row {
        margin-top: 5px;
        @include flex_center_display;

        .video-tag {
            margin-left: 10px;
            color: $font_color_white_one;
        }
    }

    .video-toolbar {
        @include flex_center_display;

        // margin-left: auto;
        // margin-right: auto;
        font-size: 15px;
        gap: 14px;

        .aji-dropdown-item {
            font-size: 28px;
        }
    }

    .video-file-info-row {
        @include flex_center_display;

        margin-left: auto;
        margin-right: auto;
        font-size: 15px;

        color: $font_color_white_one;
    }
}