@import "vars.scss";

.admin-container{
    position: relative;

    @include common_sub_container;

    .admin-section{
      font-size: 13px;

      .admin-section-title {
        font-weight: 600;
      }

      .admin-section-text {
        font-size: 15px;
        font-weight: 600;
      }

      .admin-section-content {
        margin: 8px auto 10px 10px;
        clear: both;

        .admin-intput{
          display: block;
          margin-left: 2px;
          margin-bottom: 5px;
          width: 500px;

          @media screen and (max-width: 550px) {
            width: 300px;
          }
        }
      }

      margin-bottom: 20px;
    }

    .submit-button {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        background-color: $bacground_level_one; 
        min-height: 26px;
        padding: 1px 5px 2px;
        margin: 0 2px;
        border-radius: 3px;
        font-size: 9pt;
        color: $font_color_white_one;

        &:hover{
          @include hover_effect;
        }
    }
      
    .author-link{
      margin-top: 10px;
      margin-bottom: 10px;
      a {
        font-size: 1.2rem;
      }
    }

    .history-section {
      .history-link{
        .history-one-line-list-item {
          .date-text {
            margin-right: 10px;
          }
        }
      }
    }
}