.admin-container{
    padding-top: 20px;
    background: #737780;
    border: 1px solid #000000;
    min-height: 800px;
    color: #f1f1f1;
    position: relative;

    .admin-section{
      .admin-section-title {
        color: #f1f1f1;
        font-size: 20px;
        font-weight: 600;
      }

      .admin-section-text {
        color: #f1f1f1;
        font-size: 15px;
        font-weight: 600;
      }

      .admin-section-content {
        margin: 8px auto 10px 10px;
        clear: both;

        .aji-path-intput{
          display: block;
          margin-left: 2px;
          margin-bottom: 5px;
          width: 500px;
        }
      }

      margin-bottom: 20px;
    }

    .submit {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        color: #f1f1f1;
        background-color: #34353b;
        min-height: 26px;
        padding: 1px 5px 2px;
        margin: 0 2px;
        border: 2px solid #8d8d8d;
        border-radius: 3px;
        font-size: 9pt;
      }
      
      .submit:hover{
        border: 1px solid rgba(224, 184, 184, 0.712);
      }

      .author-link{
        margin-top: 10px;
        margin-bottom: 10px;
        a {
          color: white;
          font-size: 1.2rem;
        }
      }


      .history-section {
        .history-one-line-list-item-text {
          color: white;
        }
      }
}