#root {
  @media screen and (max-width: 500px) {
    min-width: 500px;
  }
}

body {
  text-align: center;
  margin: auto;
}

a {
  color: #DDDDDD;
}

.path-highlight{
  color:red;
  font-weight: 700;
}

.location-title {
  color: rgb(215, 235, 255);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;

  .exp-top-button {
      margin-left: 60px;
      cursor: pointer;
      
      &:hover{
        color: #34353b;
      }
  }
}


// @media screen and (min-width: 1300px) {
//   .container {
//       max-width: 1280px !important;
//   }
// }

.app-container {
  background-color: #4f535b;
  min-height: 100vh;

  .fas{
    color: #DDDDDD;
    &::before{
      padding-right: 5px;
    }
  }

  .app-top-topnav {
    overflow: hidden;

    @media screen and (max-width: 980px) {
      margin-bottom: 20px;
    }

    .links {
      float: left;
      display: inline-flex;

      a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      a:hover {
        background-color: rgb(221, 221, 221);
        i{
          color: midnightblue;
        }
      }
    }

    .search-bar{
      @media screen and (min-width: 1000px) {
        float: right;
        margin-bottom: 25px;
      }

      display: inline-flex;
      input[type=text] {
        padding: 6px;
        border: none;
        margin-top: 8px;
        font-size: 17px;
        border-radius: 0px;
      }

      .filter-button,
      .search-button {
        margin-top: 8px;
        cursor: pointer;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #a7a7a7;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px rgba(224, 194, 194, 0.726) solid;
        margin-left: 1px;

        &:hover{
          color: white;
          background-color: #34353b;
        }
      }
    }

    @media screen and (max-width: 600px) {
     .links, .search-bar{
      float: none;
     }
    }
  }
}


.loading-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .loading-inner {
    margin-top: 100px;
    text-align: center;
    font-size: 2rem;
    color: #DDDDDD;

    .title {
      color: white;
    }
  }
}

.rc-pagination {
  display: flex;
  justify-content: center;
}

.rc-pagination-item {
  min-width: 40px !important;

  &.rc-pagination-item-active{
    font-weight: 600;
  }
}

.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-item {
  height: 40px !important;

  
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 20px !important;
  }
  
}



@media screen and (max-width: 700px) {
  .rc-pagination-options{
    display: none;
  }
 }


 .click-and-copy-text {
  cursor: copy;
  &:hover{
    background: greenyellow;
    color: black;
  }
}