body {
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 700px) {
  .app-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}


.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.home-nav-item{
  background-color: #2196F3;
}
