@import "vars.scss";

#root {
  @media screen and (max-width: 500px) {
    min-width: 500px;
  }
}

body {
  text-align: center;
  margin: auto;
  color: $font_color_white_one;
}

a {
  color: $font_color_white_one;

  &:hover{
    color: unset;
  }
}

.location-title {
  color: $font_color_white_one;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;

  .exp-top-button {
      margin-left: 20px;
  }
}


.app-container {
  background-color: $bacground_level_one;
  min-height: 100vh;
  padding-bottom: 50px;

  .fas{
    color: $font_color_white_one;
    &::before{
      padding-right: 5px;
    }
  }

  .fa-download {
    color: $font_color_white_one;
    margin-left: 10px;

    &:hover{
      @include hover_effect;
    }
  }

  .app-top-topnav {
    overflow: hidden;

    @media screen and (max-width: 980px) {
      margin-bottom: 20px;
    }

    .app-page-links {
      float: left;
      display: inline-flex;

      a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        @media screen and (min-width: 1000px) {
          &:hover {
            @include hover_effect;
            i {
              @include hover_effect;
            }
          }
        }
      }
    }

    .search-bar{
      @media screen and (min-width: 1000px) {
        float: right;
        margin-bottom: 10px;
      }

      display: inline-flex;
      input[type=text] {
        padding: 6px;
        border: none;
        margin-top: 8px;
        font-size: 17px;
        border-radius: 2px;
      }

      .filter-button,
      .search-button {
        margin-top: 8px;
        cursor: pointer;
        border-radius: 0px;
        @include flex_center_display;
        background-color: #a7a7a7;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 1px;

        &:hover{
          @include hover_effect;
        }
      }

      .search-button{
        border-right: 1px $border-color-black solid;
        border-left: 1px $border-color-black solid;
      }
    }

    @media screen and (max-width: 600px) {
     .app-page-links, .search-bar{
      float: none;
     }
    }
  }
}