body {
  text-align: center;
  margin: auto;
}

a {
  color: #DDDDDD;
}

.file-change-tool-bar {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #DDDDDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .fas{
    margin-left: 5px;
    cursor: pointer;
  }

  .fas:hover{
    color: orangered !important;
  }

  .fa-arrow-right{
    background: transparent;
    border: 0px;
    padding: 0px;
  } 

  .file-change-tool-bar-header{
    line-height: 16px;
    font-size: 16px;
  }
}

.path-highlight{
  color:red;
  font-weight: 700;
}

.location-title {
  color: rgb(215, 235, 255);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.rc-pagination {
  display: flex;
  justify-content: center;
}


// @media screen and (min-width: 1300px) {
//   .container {
//       max-width: 1280px !important;
//   }
// }

.app-container {
  background-color: #4f535b;
  min-height: 100vh;

  .fas{
    color: #DDDDDD;
  }

  .topnav {
    overflow: hidden;

    .links {
      float: left;
      display: inline-flex;

      a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
  
      a:hover {
        background-color: rgb(221, 221, 221);
        i{
          color: midnightblue;
        }
      }
    }

    .search-bar{
      float: right;
      display: inline-flex;
      input[type=text] {
        padding: 6px;
        border: none;
        margin-top: 8px;
        font-size: 17px;
      }

      button{
        margin-top: 8px;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 600px) {
     .links, .search-bar{
      float: none;
     }
    }
  }
}


.loading-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .loading-inner {
    margin-top: 100px;
    text-align: center;
    font-size: 2rem;
    color: #DDDDDD;

    .title {
      color: white;
    }
  }
}

.rc-pagination-item{
  min-width: 38px !important;

  &.rc-pagination-item-active{
    font-weight: 600;
  }
}