body {
  text-align: center;
  margin: auto;
}

a {
  color: #DDDDDD;
}



.file-change-tool-bar {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #DDDDDD;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .fas{
    margin-left: 5px;
    cursor: pointer;
  }

  .fas:hover{
    color: orangered !important;
  }
}

.location-title {
  color: rgb(215, 235, 255);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.rc-pagination {
  display: flex;
  justify-content: center;
}


@media screen and (min-width: 1300px) {
  .container {
      max-width: 1280px !important;
  }
}

.app-container {
  background-color: #4f535b;
  min-height: 100vh;

  .fas{
    color: #DDDDDD;
  }

  .topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
}



