body {
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 700px) {
  .app-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

h4 {
  text-align: center;
}

.app-container {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

.app-nav-item {
  border-width: 2px !important;
  border-color: yellowgreen !important;
}

.app-nav-item:hover{
  background-color: #1a4282;
  color: white;
}

.home-row {
  text-align: left !important;
  border-radius: 5px;
}

.row-thumbnail-image {
  margin: 0.2rem 1rem;
  padding: 0px !important;

  /* https://stackoverflow.com/questions/19414856/how-can-i-make-all-images-of-different-height-and-width-the-same-via-css */
  /* width: 100px; */
  height: 120px !important;
}

.home-row:hover .row-thumbnail-file-image {
  height: 300px !important;
}


.row-file-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.one-book-list {
  list-style: none;
  /* background-color: #befc80; */
}

.one-book-container,
.one-book-image-li {
  margin-right: auto;
  margin-left: auto;
  display: flex !important;
  justify-content: center !important;
}

.one-book-image {
  min-height: 85vh;
  max-height: 90vh;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.one-book-loading {
  text-align: center;
  font-size: 3rem;
}

.one-book-footer{
  display: flex;
  justify-content: flex-start;
}

.one-book-footer div{
  margin-right: 10px;
  padding: 5px 5px;
}

.one-book-foot-author:hover{
  background-color: chocolate;
  color: ivory;
  cursor: pointer;
}

.one-book-foot-index-number {
  cursor: none;
}

.tag-page-list-group{
  list-style: none;
}

.tag-page-list-item-button {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.tag-page-thumbnail {
  max-width: 100px !important;
}