.explorer-breadcrumb {
  padding: 8px 16px;
  list-style: none;
  background-color: #eee;

  .breadcrumb-item {
    display: inline;
    font-size: 18px;

    @media screen and (max-width: 800px) {
      font-size: 15px;
    }

    color: #007bff !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

    &.current{
      color: #34353b;
    }
  }

  .breadcrumb-item+.breadcrumb-item:before {
    padding-left: 4px;
    padding-right: 4px;
    color: black;
    content: "/\00a0";
  }

  .breadcrumb-item a:hover {
    color: #01447e;
    text-decoration: underline;
  }


  .top-button-gropus{
    color: gray;
    margin-top: 10px;
    position: relative;

    .thumbnail-button,
    .recursive-button {
      cursor: pointer;
      color: gray;

      .fas {
        color: gray;
      }
      
      &:hover{
        color: #34353b;

        .fas {
          color: #34353b;
        }
      }
    }

    .recursive-button {
      margin-left: 60px;
    }

    @media screen and (max-width: 800px) {
      .thumbnail-button,
      .recursive-button {
        font-size: 10px;
      }
    }

    .file-count {
      @media screen and (min-width: 400px) {
        position: absolute;
        right: 5px;
      }
    }
  }
}