.explorer-breadcrumb {
  padding: 8px 16px;
  list-style: none;
  background-color: #eee;
  margin-bottom: 0px;

  .breadcrumb-item {
    display: inline;
    font-size: 18px;

    @media screen and (max-width: 800px) {
      font-size: 15px;
    }

    color: #007bff !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

    &.current{
      color: #34353b;
    }
  }

  .breadcrumb-item+.breadcrumb-item:before {
    padding-left: 4px;
    padding-right: 4px;
    color: black;
    content: "/\00a0";
  }

  .breadcrumb-item a:hover {
    color: #01447e;
    text-decoration: underline;
  }
}

.top-button-gropus{
  color: gray;
  position: relative;
  background-color: #eee;
  margin-bottom: 1rem;
  padding-bottom: 6px;

  .exp-top-button {
    cursor: pointer;
    color: gray;

    .fas {
      color: gray;
    }
    
    &:hover{
      color: #34353b;

      .fas {
        color: #34353b;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .file-count,
    .exp-top-button {
      font-size: 10px;
    }
  }
}

.toggle-side-menu-button{
  margin-left: 20px;
}

.file-count {
  display: flex;
  align-items: center;
  justify-content: center;
}