.chart-container{
    background: antiquewhite;;

    .total-info{
        padding-top: 10px;
        color : black;
    }

    .individual-chart-container{
        margin-top: 10px;
        border-top: 1px gray solid;
        padding-top: 10px;
    }
}