.aji-checkbox{
  color: #eff4ff;
  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;

  margin-bottom: 5px;

  input {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 5px;
  }

  .inner{
    font-size: 10px;
  }
}