@import "vars.scss";



.aji-file-name{
  .click-and-copy-text {
    cursor: copy;
    @include flex_center_display;
    &:hover{
      @include third_hover_effect();
    }
  }

  .embed-link {
    color: #DDDDDD !important;
    
    &.with-color{
      color: #bdf0cb !important;
    }
    // font-weight: 500;
  }
}