@import "vars.scss";



.aji-file-name{
  .click-and-copy-text {
    cursor: copy;
    @include flex_center_display;
    display: inline-flex;
    margin-left: 5px;
    &:hover{
      @include third_hover_effect();
    }
  }

  .embed-link {
    color: #DDDDDD !important;
 
    &.with-color{
      color: rgb(114, 161, 236)d !important;
      font-weight: 600;
    }
    // font-weight: 500;
  }
}