@import "vars.scss";

.aji-dropdown{
  color: $white_one;
  cursor: pointer;
  position: relative;
  height: 16px;
  display: flex;
  justify-content: center;

  .aji-dropdown-menu{
    display: none;

    margin-top: 2px;
    padding: 5px;
    z-index: 999;

    bottom: 25px;
    left: -10px;

    width: 100%;

    position: absolute;
  }

  &.open {
    .aji-dropdown-menu{
      display: inline-flex;
      flex-direction: column;
    }
  }

  .aji-dropdown-item {
    min-width: 30px;
    border: 1px solid $white_one;
    background: #1c1e20;
    color: $white_one;
  }
}

//can be use independently
.aji-dropdown-item {
  @include flex_center_display;
  cursor: pointer;

  &:hover{
    @include hover_effect;
  }
}