@import "vars.scss";
@import "sideMenu.scss";

.explorer-page-loading {
  text-align: center;
  font-size: 3rem;
  position: fixed;
  left: 45%;
  top: 50%;
}

.explorer-container-out{
  &.mode_search,
  &.mode_tag,
  &.mode_author{
    .explorer-breadcrumb {
      margin-bottom: 5px;
    }

    .not-first-breadcrumb{
      margin-top: 10px;
    }

    .explorer-one-line-list-item{
      padding-left: 16px;
    }
    
  }

  &.mode_home {
    @media only screen and (min-width: 1200px) {
      .explorer-one-line-list-item {
        font-size: 20px;
        max-width: 1100px;
      }
    }
  }

  &.anchorSideMenu{
    display: flex;
  }
}

.explorer-external-link {
  color: $font_color_white_one !important;
}

.explorer-container{
  padding-bottom: 30px;

  .fa-folder {
    color: yellowgreen;
  }

  a {
    color: $font_color_white_one !important;
  }

  .dir-list {
    list-style: none;

    .item-container-expand-button{
      cursor: pointer;
      margin-left: 2px;
      font-size: 12px;
      width: 100%;
      text-align: center;
    }
  }

  .file-list{
    text-align: left !important;
  }

  .explorer-one-line-list-item {
    text-align: left !important;

    display: flex;
    align-items: center;

    border-radius: 5px;
    border: white;
    border-width: 1px;

    font-size: 1rem;
    font-weight: bold;
    color: black;

    @media only screen and (max-width: 500px) {
      font-size: 10px;
    }

    @media only screen and (max-width: 1100px) {
        font-size: 12px;
    }

    padding-left: 5px;
    color:$font_color_white_one;

    .far,
    .fas {
      margin-right: 5px; 
    }
  }

  .file-out-cell {
    padding-bottom: 10px;
  }

  .file-cell {

    @include file_cell_common;

    padding-top:5px;
    padding-bottom: 10px;
    display: flex;
    flex-flow:column;
    justify-content: start;
    align-items: center;
  }

  .file-info-row {
    color:$font_color_white_one;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12.5px;

    &.less-padding{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .explorer-file-change-toolbar{
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .file-cell-inner {
    padding-bottom: 5px;
    display: flex;
    flex-flow:column;
    justify-content: start;
    align-items: center;
    overflow: hidden;

    .file-cell-thumbnail {
      margin: 0.2rem 1rem;
      padding: 0px !important;
      max-width:100%;
      height: 205px;
      object-fit: scale-down;
      margin: auto;
      text-align:center;
      border-radius: 2px;
    }
  }

  .folder-seperator{
    border: 2px solid $border-color-black;
    border-radius: 2px;
  }
}

.file-cell-title {
  line-height: 1em;
  height: 2em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden;
  margin-bottom: 5px;
}