.explorer-page-loading {
  text-align: center;
  font-size: 3rem;
  position: fixed;
  left: 45%;
  top: 50%;
}

.explorer-container-out{
  padding-bottom: 50px;


  @media only screen and (min-width: 1200px) {
    &.home{
      .explorer-dir-list-item {
        font-size: 2.5rem;
        max-width: 80%;
      }
    }
  }
}

.explorer-container{
  padding-bottom: 30px;
  
  .fa-folder {
    color: yellowgreen;
  }

  a {
    color: #DDDDDD !important;
  }

  .dir-list {
    list-style: none;
  }

  .explorer-dir-list-item {
    text-align: left !important;
    background-color: #4f535b;

    border-radius: 5px;
    border: white;
    border-width: 1px;

    font-size: 1rem;
    font-weight: bold;
    color: black;

    padding-left: 5px;
    color:#DDDDDD
  }

  .file-out-cell {
    padding-bottom: 10px;
  }

  .file-cell {
    height: 280px;
    border: 1px solid #34353b;
    border-radius: 9px;
    background: #43464e;
    padding-top:5px;
    padding-bottom: 10px;
    display: flex;
    flex-flow:column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
  }

  .file-cell-inner {
    padding-bottom: 5px;
    display: flex;
    flex-flow:column;
    justify-content: start;
    align-items: center;
    overflow: hidden;

    .file-cell-title {
      line-height: 1em;
      height: 2em;       /* height is 2x line-height, so two lines will display */
      overflow: hidden;
    }
  
    .file-cell-thumbnail {
      margin: 0.2rem 1rem;
      padding: 0px !important;
      max-width:100%;
      height: 205px;
      object-fit: scale-down;
      margin: auto;
      text-align:center;
    }
  }
}

