.side-menu {
  box-sizing: border-box;
  height: 100%; /* 100% Full-height */
  width: 250px; 
  opacity: 0;
  padding-left: 20px;
  transition: width 0.01s;
  animation: all 0.5s;

  &.anchorSideMenu,
  &:hover{
    padding-top: 40px; 
    padding-left: 20px;
    padding-right: 10px;
    opacity: 1;
  }

  // @media screen and (min-width: 1200px) {
  //   width: 250px; 
  //   padding-top: 100px; 
  //   padding-left: 20px;
  //   padding-right: 10px;
  // }

  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #99a2b5; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
 
  .side-menu-radio-title{
    color: #1d5be2;
    font-size: 15px;
  }

  .radio-button {
    font-weight: 600px;
    font-size: 17px;
    color: #eff4ff;
  }

  .side-menu-folder-small-info{
    padding-bottom: 5px;
    border-bottom: #DDDDDD solid 1px;
    margin-bottom: 5px;
  }

  .side-menu-single-tag{
    cursor: pointer;
    color: #eff4ff;

    &:hover{
      color: #43464e;
      font-weight: bold;
    }
  }
}

.explorer-page-loading {
  text-align: center;
  font-size: 3rem;
  position: fixed;
  left: 45%;
  top: 50%;
}

.explorer-container-out{
  padding-bottom: 50px;


  @media only screen and (min-width: 1200px) {
    &.home{
      .explorer-one-line-list-item {
        font-size: 20px;
        max-width: 1100px;
      }
    }
  }
}

.explorer-external-link{
  color: #DDDDDD !important;
}

.explorer-container{
  padding-bottom: 30px;

  .fa-folder {
    color: yellowgreen;
  }

  a {
    color: #DDDDDD !important;
  }

  .dir-list {
    list-style: none;
  }

  .file-list{
    text-align: left !important;
  }

  .explorer-one-line-list-item {
    text-align: left !important;
    background-color: #4f535b;

    display: flex;
    align-items: center;

    border-radius: 5px;
    border: white;
    border-width: 1px;

    font-size: 1rem;
    font-weight: bold;
    color: black;

    padding-left: 5px;
    color:#DDDDDD;

    .far,
    .fas {
      margin-right: 5px; 
    }
  }

  .file-out-cell {
    padding-bottom: 10px;
  }

  .file-cell {
    height: 280px;
    border: 1px solid #34353b;
    border-radius: 9px;
    background: #43464e;
    padding-top:5px;
    padding-bottom: 10px;
    display: flex;
    flex-flow:column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
  }

  .file-cell-inner {
    padding-bottom: 5px;
    display: flex;
    flex-flow:column;
    justify-content: start;
    align-items: center;
    overflow: hidden;

    .file-cell-title {
      line-height: 1em;
      height: 2em;       /* height is 2x line-height, so two lines will display */
      overflow: hidden;
    }
  
    .file-cell-thumbnail {
      margin: 0.2rem 1rem;
      padding: 0px !important;
      max-width:100%;
      height: 205px;
      object-fit: scale-down;
      margin: auto;
      text-align:center;
    }
  }
}

