@import "vars.scss";

.path-highlight{
  color:red;
  font-weight: 700;
}


.file-change-tool-bar {
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: $font_color_white_one;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  .letter-button,
  .fas{
    margin-left: 5px;
    cursor: pointer;

    &:hover{
      @include third_hover_effect;
    }
  }

  .fa-arrow-right{
    background: transparent;
    border: 0px;
    padding: 0px;
  } 

  .file-change-tool-bar-header{
    line-height: 16px;
    font-size: 16px;
  }
}