@import "vars.scss";

.path-highlight {
  color: red;
  font-weight: 700;
}

.file-change-tool-bar {
  padding-top: 2px;
  max-width: 300px;

  color: $font_color_white_one;
  width: 100%;

  .tool-bar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    &.second {
      margin-top: 5px;
    }
  }

  .fa,
  .fas {
    margin-left: 5px;
    cursor: pointer;
    font-size: 12px;

    //download is a 
    //lazy copy-and-paste code here
    &.fa-download{
      &:hover {
        @include third_hover_effect;
        color: $font_dark_orange !important;
      }
    }

    &:hover {
      @include third_hover_effect;
    }
  }

  &.bigFont {
    .tool-bar-row {
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .fa, 
    .fas {
      font-size: 18px;
    }
  }

  .file-change-tool-bar-header {
    line-height: 16px;
    font-size: 16px;
  }
}

//------------------move modal--------------

.ReactModal__Overlay--after-open {
  @include flex_center_display;
  z-index: 10;
  background-color: rgb(39 35 35 / 80%) !important;
}

.file-change-toolbar-move-modal {
  background: #929292;
  max-width: 600px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 4px;
  font-size: 12px;

  .section {
    background: white;
    padding: 5px;
    border-radius: 2px;

    &.with-bottom-margin {
      margin-bottom: 5px;
    }
  }

  .file-dir-name {
    margin-bottom: 5px;
  }

  .aji-file-name {
    margin-bottom: 10px;
    display: block;

    .embed-link {
      color: #414141 !important;
    }
  }

  .title {
    // font-weight: 600;
    color: #414141;
    margin-bottom: 2px;
  }

  .modal-list-item {
    cursor: pointer;
    font-size: 11px;
    color: $font_color_black_two;
    margin-bottom: 2px;

    &:hover {
      @include third_hover_effect;
    }
  }
}

.result-zip-path {
  font-size: 10px;
}

.raname-button {
  border: 1px #414141 solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;

  cursor: pointer;
}