@import "vars.scss";

.path-highlight{
  color:red;
  font-weight: 700;
}


.file-change-tool-bar {
  padding-top: 2px;

  color: $font_color_white_one;
  width: 100%;

  .tool-bar-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    &.second{
      margin-top: 5px;
    }
  }

  &.bigFont{
    .fa, .fas{
      font-size: 14px;
    }
  }


  .fa, .fas{
    margin-left: 5px;
    cursor: pointer;
    font-size: 12px;
    &:hover{
      @include third_hover_effect;
    }
  }

  .fa-arrow-right{
    background: transparent;
    border: 0px;
    padding: 0px;
  } 

  .file-change-tool-bar-header{
    line-height: 16px;
    font-size: 16px;
  }
}

//------------------move modal--------------

.ReactModal__Overlay--after-open{
  @include flex_center_display;
  z-index: 10;
  background-color: rgb(39 35 35 / 80%) !important;
}

.file-change-toolbar-move-modal {
  background: white;
  max-width: 600px;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border-radius: 4px;
  font-size: 12px;


  .aji-file-name{
    margin-bottom: 10px;
    display: block;

    .embed-link {
      color: #414141 !important;
    }
  }

  .title{
    font-weight: 600;
    color: #414141;
    margin-bottom: 5px;
  }

  .modal-list-item{
    cursor: pointer;
    font-size: 14px;
    color: $font_color_black_two;
    margin-bottom: 2px;
    &:hover{
      @include third_hover_effect;
    }
  }
}

