@import "vars.scss";

.history-container {
  position: relative;

  @include common_sub_container;

  .history-section {
    .history-day-section {
      margin-bottom: 20px;

      .date-text {
        font-weight: 600;
        border-top: 1px #414141 solid;
        border-bottom: 1px #414141 solid;

        display: flex;
        justify-content: space-between;

        padding-left: 5px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 5px;
      }
    }

    .history-link {
      .history-one-line-list-item {
        padding-left: 5px;
        .icon{
          color: rgb(116, 173, 0);
          &.fa-file-video {
            color: #000769;
          }
          &.fa-book {
            color: #414141;
          }
        }
      }
    }
  }
}