@import "vars.scss";

.aji-music-player {
    width: 100%;
    border-radius: 2px;
    padding: 0px 10px;

    .aji-music-items{
        max-height: 350px;
        overflow-y: scroll;
        margin-bottom: 20px;
    }

    .aji-music-player-item {
        color: $font_color_white_one;
        cursor: pointer;
        margin-bottom: 10px;
        overflow-x: visible;

        &:hover {
            @include third_hover_effect;
        }

        &.aji-music-player-active {
            &::before{
                color: chartreuse;
            }
        }
    }

    .aji-music-player-control {
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}