.one-book-nothing-available{
  color: #e6eff3;
  font-size: 2rem;
}

.one-book-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  flex-flow: column;
  padding-bottom: 20px;

  .one-book-wrapper {
    margin-top: 5px;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    flex-flow: column;
    
    &:not(.has-music){
      width: 100%;
    }
  }

  .fs-toggle-button{
    color: #e6eff3;
    background-color: transparent;
    border: 0;
    margin-left: 10px;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    font-size: 1.5rem;

    &:hover{
      color: #bbe1f1;
    }
  }

  .one-book-list {
    list-style: none;
  }

  .one-book-title {
    color: #f1f1f1;
    display: flex;

    .one-book-title-filename{
      cursor: copy;
      &:hover{
        background: greenyellow;
        color: black;
      }
    }
  }

  .one-book-path{
    color: #f1f1f1;
    font-weight: 400;
    margin-right: 10px;
  }

  a {
    color: #DDDDDD !important;
  }

  .one-book-image-li {
    padding-top:10px;
    margin-right: auto;
    margin-left: auto;
  }

  .one-book-image {
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    z-index: 10;

    &.has-music{
      // max-height: 450px;
    }
  }

  .full-screen {
    .one-book-image{
      // max-height: 1060px;
    }
  }

  .mobile-one-book-image {
    // width: 95%;
    width: calc(100% - 10px);
    margin:5px 5px;
  }

  .mobile-one-book-container {
    width: 100%;
  }

  .one-book-tags {
    display: flex;
    justify-content: flex-start;
  }

  .one-book-tags div{
    margin-right: 10px;
  }

  .one-book-foot-author:hover{
    background-color: chocolate;
    color: ivory;
    cursor: pointer;
  }

  .one-book-foot-index-number {
    cursor: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #DDDDDD;
    font-weight: 600;

    &.is-last {
      color: orange;
    }
  }

  .one-book-toolbar {
    width: 200px;
    font-size: 1.5rem;
    display: inline-flex;
  }

  .one-book-file-stat{
    color: #f1f1f1;
    font-size: 1rem;
    display: flex;
  }
}