.side-menu {
  box-sizing: border-box;
  padding-left: 20px;
  transition: width 1s;
  animation: all 1s;
  display: none;
  background-color: #99a2b5; 
  overflow-x: hidden; /* Disable horizontal scroll */

  &.anchorSideMenu{
    padding-top: 10px; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;
  }
 
  .side-menu-radio-title {
    color: #0f2452;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .speical-checkbox-container {
    display: flex;
  }

  .aji-checkbox,
  .radio-button{
    margin-right: 10px;
    color: $font_color_white_one;
  }

  .exp-tag-container{
    border-top: $font_color_white_one solid 1px;

    .side-menu-single-tag{
      cursor: pointer;
      color: $font_color_white_one;
      font-size: 10px;
      margin-bottom: 5px;
  
      &:hover{
        color: #43464e;
        font-weight: bold;
      }
    }
  }
}