@import "vars.scss";


.sort-header-container{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #99a2b5; 
  border-radius: 2px;
  font-weight: 500;

  .sort-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  
    .sort-item {
      color: #212529;
      .fas{
        color: #212529;
      }

      background: unset;
      font-size: 16px;
      cursor: pointer;
      vertical-align: baseline;
      &:hover{
        @include third_hover_effect;
      }
    }
  }
}

