@import "vars.scss";


.sort-header-container{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #99a2b5; 

  .sort-header {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .sort-item{
      margin-right: 20px;
      color: $font_color_white_one;
      background: unset;
      font-size: 14px;
      cursor: pointer;
      @include flex_center_display;
  
      &:hover{
        @include third_hover_effect;
      }
    }
  }
  
  .sort-radio-button-group{
    display: flex;
    font-size: 14px;
    color: $font_color_white_one;
  
    .radio-button{
      margin-right: 20px;
      margin-bottom: 0px;
      @include flex_center_display;
    }
  }
}

