.tag-page-loading {
  text-align: center;
  font-size: 3rem;
  position: fixed;
  left: 45%;
  top: 50%;
}

.tag-container{
  padding-bottom:50px;

  .tag-page-list-group{
    list-style: none;
  }

  .tag-page-list-item-link {
    color: white;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    display: flex;
    flex-flow:column;
    justify-content: start;
    align-items: center;
  }

  .tag-page-thumbnail {
    max-width: 150px !important;
  }

  .tag-page-list-item {
    padding-bottom: 10px;
   
    .tag-cell{
      height:260px;
      background: #43464e;
      overflow: hidden;
      border: 1px solid #34353b;
      border-radius: 9px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;
    }
  }
}