.tag-page-loading {
  text-align: center;
  font-size: 3rem;
  position: fixed;
  left: 45%;
  top: 50%;
}

.tag-container{
  .tag-page-list-group{
    list-style: none;
  }

  .tag-page-list-item-link {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .tag-page-thumbnail {
    max-width: 150px !important;
  }

  .tag-page-list-item {
    // height:335px;
    border: 1px solid #34353b;
    border-radius: 9px;
    background: #43464e;
    padding-top:5px;
    padding-bottom: 5px;
    display: flex;
    flex-flow:column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
  }
}