$white_one: #DDDDDD;
$white_two: #EEEEEE;

$hover_font_color_black_one: #212121;

$bacground_level_one: #4f535b;
$bacground_level_two: #43464e;
$bacground_level_three: #666b7a;
$background_orange_white: rgb(231, 218, 190);

$dark_orange: rgba(218, 101, 58, 0.774);
$display_font_black_one: #414141;

@mixin file_cell_common {
    background: $bacground_level_two;
    border: 1px solid #616161;
    border-radius: 9px;
    overflow: hidden;  
}

@mixin hover_effect {
    color: $hover_font_color_black_one;
    background: $white_one;
}

@mixin second_hover_effect {
    color: $hover_font_color_black_one;
    background: unset;
}

@mixin third_hover_effect {
    color: $dark_orange;
    background: unset;
}

@mixin  flex_center_display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin common_sub_container {
    background: $background_orange_white;
    color : $display_font_black_one;

    a {
        color : $display_font_black_one;
    }
}

.f-s-10{
    font-size: 10px;
}
.f-s-11 {
    font-size: 11px;
}
.f-s-12{
    font-size: 12px;
}
.f-s-14{
    font-size: 14px;
}
.f-s-15{
    font-size: 14px;
}
.f-s-16{
    font-size: 16px;
}