.video-player-page{
    .video-player-container{
        display: flex;
        justify-content: center;
        align-content: center;

        #videoPlayer{ 
            @media screen and (max-width: 1000px) {
                width: calc(100% - 50px);
            }

            @media screen and (min-width: 1000px) {
                width: 1000px;
            }
        }
    }

    .video-title{
        display: flex;
        justify-content: center;
        align-content: center;

        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        font-size: 14px;
        color: #f1f1f1;
    }

    .video-tag-row {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-content: center;

        .video-tag{
            margin-left: 10px;
            color: #f1f1f1;
        }
    }

    .video-toolbar{
        display: flex;
        justify-content: center;
        align-content: center;

        margin-left: auto;
        margin-right: auto;
        font-size: 15px;

        .aji-dropdown-item{
            font-size: 28px;
        }
    }
}
