@import "vars.scss";

.video-player-page{
    .video-player-container{
        @include flex_center_display;

        //horizontal
        #videoPlayer:not(.vertical-video){ 
            @media screen and (max-width: 1000px) {
                width: calc(100% - 50px);
            }

            @media screen and (min-width: 1000px) {
                width: 1000px;
            }
        }

        //else vetical
        .vertical-video {
            @media screen and (max-height: 1000px) {
                height: calc(100% - 50px);
            }

            @media screen and (min-height: 1000px) {
                height: 1000px;
            }
        }
    }

    .video-title{
        @include flex_center_display;
        flex-direction: column;
      
        margin-top: 10px;
        font-size: 14px;
        color: $font_color_white_one;

        .inline-display{
            display: inline;
        }
    }

    .video-tag-row {
        margin-top: 5px;
        @include flex_center_display;

        .video-tag{
            margin-left: 10px;
            color: $font_color_white_one;
        }
    }

    .video-toolbar{
        @include flex_center_display;

        margin-left: auto;
        margin-right: auto;
        font-size: 15px;

        .aji-dropdown-item{
            font-size: 28px;
        }
    }

    .video-file-info-row{
        @include flex_center_display;

        margin-left: auto;
        margin-right: auto;
        font-size: 15px;

        color: $font_color_white_one;
    }
}
