.search-page {
    padding-top: 24px;

    .search-page-types {
        justify-content: center;
        margin-bottom: 20px;
    }

    .search-page-bar {
        justify-content: center;
        display: flex;
    }
}
