.shigureader_link {
     font-size: 12px;
     text-decoration:none; }

.shigureader_link:hover {
        color: #b0f3ff
}

.aji-tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 3;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;

    height: 300px;
    width: 400px;

    opacity: 0.95;
    background-color: #777372;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.59);
    color: rgb(168, 165, 165);
    padding: 10px;
    border: 0px;
    font-size: 12px;
}

.aji-tooltip-list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aji-tooltip-title{
    border-bottom: 1px black solid;
    margin-bottom: 5px;
    font-weight: bold;
}

.gl3t:hover .aji-tooltip {
    visibility: visible;
}